<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-translation-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3bffef23-ffd1-495a-96a7-9ae8e3889da7/resourceGroups/func-translation-app/providers/Microsoft.Web/sites/func-translation-app</ResourceId>
    <UserName>$func-translation-app</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-translation-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>